body{
    max-width: 100%;
    overflow-x: hidden;
    /* background-image: url(img/bg-body.png); */
    background-color: #eaffe6;
    background-size: 100%;
}
.titulo-home {
    color: #4b606a;
}
.titulo-home img {
    padding-top: 20px;
}
.container {
    width: 1200px;
    margin-top: 30px;
  }
.container-mini {
    width: 500px;
}

.titulo {
    color: #4b606a;
    text-align: center;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.titulo-pagina{
    text-align: center;
}
.maiusc {
    text-transform: uppercase;
  }

  footer {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 9pt;
    text-align: center;
    color: black; 
    padding: 10px 0; 
}